
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// custom styles
// components/TicTacToeComponent
.game-grid-container {
    text-align: center;
    td {
        width: 33.33%;
        position: relative;
    }
    td:after {
        content: '';
        display: block;
        margin-top: 100%;
    }
    td .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #7afd90;
    }
}
