
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// custom styles
// components/TicTacToeComponent
.game-grid-container {
    text-align: center;
    .o-cell {
        background-image: url('/img/o-img.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .x-cell {
        background-image: url('/img/x-img.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .square-box {
        display: inline-block;
        position: relative;
        width: 30%;
        margin-left: 5px;
        max-width: 100px;
        overflow: hidden;
        border: 1px solid $brand-primary;
    }
    .square-box:before{
        content: "";
        display: block;
        padding-top: 100%;
    }
}
// other
.col-center {
    float: none;
    margin: 0 auto;
}
.mt-5 {
    margin-top: 5px;
}
.mb-15 {
    margin-bottom: 15px;
}
